<div class="container">
  <ng-container *ngIf="pagination">
    <div class="row">
      <div class="col-4 mt-4 mb-4 text-center">
        <button type="button" class="btn btn-primary" (click)="changePage('previous')" [disabled]="pagination.currentPage === pagination.startingPage"><</button>
      </div>
      <div class="col-4 mt-4 mb-4 text-center">
        <button type="button" class="btn btn-primary">{{ pagination.currentPage }} / {{ pagination.lastPage }}</button>
      </div>
      <div class="col-4 mt-4 mb-4 text-center">
        <button type="button" class="btn btn-primary" (click)="changePage('next')" [disabled]="pagination.currentPage === pagination.lastPage">></button>
      </div>
    </div>
  </ng-container>
</div>