.main-container {
    max-width: 800px;
    margin: 0 auto;
    border-left: 8px solid #f8f9fa;
    border-right: 8px solid #f8f9fa;
    background-color: #f8f9fa;
}

.router-outlet-container {
    border-radius: 15px;
    background-color: #fff;
    min-height: calc(100vh - 120px);
}