<div class="container mt-4" [ngSwitch]="movies && movies.length > 0">
  <ng-container *ngSwitchCase="true">
    <div class="card mb-2" *ngFor="let movie of movies">
      <div class="card-body">
        <div class="row">
          <div class="col-8 my-auto">
            <span scope="row">{{ movie.Title }}</span>
          </div>
          <div class="col-4 my-auto">
            <img class="favorite-heart float-right" [ngClass]="{'favorite': movie.Favorite}"
              src="../../../../assets/images/layout/heart.png" (click)="changeFavoriteStatus(movie)"
              *ngIf="(isUserLoggedIn | async)">
            <img class="details-eye float-right" src="../../../../assets/images/layout/eye.png"
              [routerLink]="['details', movie.imdbID]">
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="false">
    <div class="card mb-2" *ngSwitchCase="false">
      <div class="card-body">
        <span scope="row" class="align-middle">Nothing to see here!</span>
      </div>
    </div>
  </ng-container>
</div>
