.container {
  .card-body {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
    .favorite-heart,
    .details-eye {
      width: 40px;
      height: 40px;
      opacity: 0.5;
      margin-left: 15px;
      filter: alpha(opacity=50);
      transition: all 0.2s ease-in-out;
      &.favorite {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      &:hover {
        transform: scale(1.3);
      }
      &:active {
        transform: scale(0.7); 
      }
    }
  }
}