<div class="container mt-4">
  <ng-container *ngIf="movies">
    <div class="card mb-2" *ngFor="let movie of movies">
      <div class="card-body">
        <span scope="row" class="align-middle">{{ movie.Title }}</span>
        <span class="align-middle"> ({{ movie.Year }})</span>
        <img class="favorite-heart float-right" [ngClass]="{'favorite': movie.Favorite}" src="../../../../assets/images/layout/heart.png" (click)="changeFavoriteStatus(movie)" *ngIf="isUserAuth">
        <img class="details-eye float-right" src="../../../../assets/images/layout/eye.png" [routerLink]="['details', movie.imdbID]">
      </div>
    </div>
  </ng-container>
</div>
